<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Contact</li>
        </ul>
    </nav>
    <main>
        {%block content%}
        <p>This is the main section</p>
        {%endblock%}
    </main>
</body>
</html>
<style>


    ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        gap: 2rem;
    }
</style>

